body {
margin: 0 auto;
padding: 0;
font-family: 'Open Sans', sans-serif;
font-size: 14px; }
a {
	text-decoration: none;
}
li {
	list-style:none ;
}
* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
.container {
	max-width: 1140px;
	margin: auto;
}
$main-color: #cba442;
$main-color2: #0a4657;
$color-white:#fff;
$main-color3:#779ea8;
$main-border:#214a55;
$main-color4:#779ea8;
$main-background:#003948;
$main-color5:#a98e44;
$main-color6:#226577;
$main-color-border:#e1e1e1;
$main-color7:#439cb5;
$main-color8:#aeb8bb;
$main-color9:#2b7c92;
$main-color10:#333333;
$main-color11: #5498aa;
$main-font-family: 'Open Sans', sans-serif;
$main-font-family-1: 'Playfair Display', serif;